

    <a class="home-link" href="/">
      
    </a>
    <div class="hn-text">
      <div class="left">
        <h1 class="name">
          <a href="/">Hacker News</a>
        </h1>
        <span class="hn-nav">
          <a routerLink="/newest/1">new</a>
          <span class="divider">
            |
          </span>
          <a routerLink="/show/1">show</a>
          <span class="divider">
            |
          </span>
          <a routerLink="/ask/1">ask</a>
          <span class="divider">
            |
          </span>
          <a routerLink="/comments">comments</a>
          <span class="divider">
            | 
          </span>
          <a href="">jobs</a>
        </span>
      </div>
      <app-stories></app-stories>
      
    </div>
