


<textarea #titleinput style = "margin-top:10px;width:200px;height:100px;" >
</textarea><br><br>



 <button type="submit" (click)='addTodo(titleinput.value)'>Submit</button>
<button type="button" routerLink="/login" style = "margin-left:100px;">Login</button>


 <div *ngFor = "let b of just">
    <p style = "margin-top:40px;">{{b}}</p> 
 </div>
 {{just}}
<!--->
<div class="main-content">
    <div class="loading-section" *ngIf="!items">
      
      </div>
    <div *ngIf="items" class="item">
     
      aaa
        <p>
          <a class="title" href="{{item.url}}">
          {{item.title}}
          </a>
          <span *ngIf="items.domain" class="domain">({{item.domain}})</span>
        </p>
        <div class="def">
          <span> |
              <a [routerLink]="['/items', items.id]">
                <span *ngIf="items.comments_count !== 0">
                  {{item.comments_count}}
                  <span *ngIf="items.comments_count === 1">comment</span>
                  <span *ngIf="items.comments_count > 1">comments</span>
                </span>
                <span *ngIf="items.comments_count === 0">discuss</span>
              </a>
            </span>
        
        </div>
      
      <p class="subject" [innerHTML]="items.content"></p>
      <app-comment-tree [commentTree]="items.comments"></app-comment-tree>
    </div>
  </div>
  ---->